@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}
body
{
  width: 1000px;
  margin: 0 auto;
}

/* Nav */
nav ul
{
  display: flex;
  justify-content: right;
  list-style-type: none;
  padding-right: 15px;
  background-color: #6c2f2b;
}

/* Nav links */
nav a 
{ 
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  padding: 10px 15px;
  color: #fbf0e2; 
  text-decoration: none;
}
nav a:visited { color: #fbf0e2; }
nav a:hover { color: #fad3a0; }
nav a.current
{
  color: #659a63;
  background-color: #fbf0e2;
  pointer-events: none;
  cursor: default;
  font-weight: 600;
}

/* Restaurant name in nav */
nav p
{
  height: 80px;
  text-align: left;
  color: #fad3a0;
  background-color: #6c2f2b;
  font-family: "Lemonada", sans-serif;
  font-size: 40px;
  padding-left: 20px;
  letter-spacing: -2px;
}

/* Main */
main
{
  background-color: #fbf0e2;
  height: 665px;
  border: 2px solid #6c2f2b;
  border-top: none;
  position: relative;
}
main div
{
  font-size: 24px;
  color: #6c2f2b;
  padding: 20px 100px;
  text-align: justify;
}
h1
{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #6c2f2b;
}
em
{
  display: block;
  text-align: center;
  padding-top: 15px;
  letter-spacing: -1px;
}

/* Form formatting */
form div
{
  display: flex;
  justify-content: center;
  padding: 4px 0;
  width: 525px;
}
label, input, textarea
{
  display: inline-block;
  height: 38px;
}
label
{
  width: 200px;
  padding: 4px 0;
}
input, textarea
{
  width: 325px;
  font-size: 18px;
}
textarea
{
  height: 118px;
  padding-top: 5px;
}
input.button
{
  width: 150px;
  margin: 5px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
}
input.button.submit
{
  color: #fbf0e2;
  background-color: #6fa26b;
}
input.button.clear
{
  color: #6c2f2b;
  background-color: #fad3a0;
}

/* Page-specific */
.contact img
{
  position: absolute;
  bottom: 75px;
  right: 100px;
  height: 300px;
  width: 194px;
}

.about img
{
  position: absolute;
  bottom: 75px;
  right: 100px;
  height: 280px;
  width: 262px;
}

.index img
{
  position: absolute;
  bottom: 75px;
  left: 344px;
  height: 300px;
  width: 312px;
}