@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}
body {
  width: 1152px;
  margin: 0 auto;
}

/* Nav */
nav { height: 129px; }
nav ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  padding-right: 15px;
  background-color: #6c2f2b;
}

/* Nav links */
nav a { 
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  padding: 10px 15px;
  color: #fbf0e2; 
  text-decoration: none;
}
nav a:visited { color: #fbf0e2; }
nav a:hover { color: #fad3a0; }
nav a.current {
  color: #659a63;
  background-color: #fbf0e2;
  pointer-events: none;
  cursor: default;
  font-weight: 600;
}

/* Restaurant name in nav */
nav p {
  height: 80px;
  text-align: left;
  color: #fad3a0;
  background-color: #6c2f2b;
  font-family: "Lemonada", sans-serif;
  font-size: 40px;
  padding-left: 20px;
  letter-spacing: -2px;
}

/* Main */
main {
  background-color: #fbf0e2;
  height: 729px;
  border: 2px solid #6c2f2b;
  border-top: none;
  position: relative;
}
main > div {
  font-size: 24px;
  color: #6c2f2b;
  padding: 20px 176px;
  text-align: justify;
}
h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #6c2f2b;
}
em {
  display: block;
  text-align: center;
  padding-top: 15px;
  letter-spacing: -1px;
}

/* Images */
.contact img {
  position: absolute;
  bottom: 175px;
  right: 125px;
  height: 275px;
  width: 178px;
}
.about img {
  position: absolute;
  bottom: 200px;
  right: 165px;
  height: 300px;
  width: 280px;
}
.index img {
  height: 200px;
  width: 200px;
  padding: 0px;
  margin: 0px;
}
.index img.reversed {
  transform: scaleX(-1);
}

/* Index page formatting */
.images {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 200px;
  padding: 0px;
  margin: 100px auto;
}
.image, .order-now {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.image { width: 200px; }
.order-now { width: 250px; }
.order-now-cta {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #6fa26b;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 600;
  color: #fbf0e2;
  border: 5px dotted #6c2f2b;
  transition: 250ms linear;
}
.order-now-cta:visited {
  color: #fbf0e2;
}
.order-now-cta div {
  margin-top: 54px;
}
.order-now-cta:hover {
  scale: 1.2;
  color: #fad3a0;
}

/* About page formatting */
.wrap-around-img {
  width: 835px;
}

/* Contact form formatting */
.contact form div {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  width: 575px; 
}
.contact label {
  display: inline-block;
  height: 30px; 
  width: 150px; 
  padding: 3px 0; 
  font-size: 20px; 
}
.contact input {
  display: inline-block;
  height: 30px; 
  width: 425px; 
  font-size: 20px; 
}
.contact textarea {
  display: inline-block;
  font-size: 20px;
  width: 425px; 
  height: 102px; 
  padding-top: 5px;
  resize: none;
}

/* Order form formatting */
.order div {
  font-size: 18px;
  color: #6c2f2b;
}
.order p { 
  padding: 8px 0; 
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
}
.order div.comments {
  flex-wrap: wrap;
}
.order p.comments.header {
  padding-top: 16px;
  padding-bottom: 0px;
  width: 440px;
}
.order p.comments.subheader {
  font-size: 16px;
}
.order .two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 950px;
}
.order .left-column {
  width: 440px;
}
.order .right-column {
  width: 440px;
}
.two-columns > div > div {
  display: flex;
  width: 440px;
  padding: 2px 0;
}

/* Order form customer info formatting */
.customer-info label
{
  display: inline-block;
  font-size: 18px;
  width: 110px;
  height: 30px;
  text-align: left;
  padding: 5px;
}
.customer-info input
{
  font-size: 18px;
  width: 330px;
  height: 30px;
  padding: 3px;
}
.customer-info.zip { width: 150px; }
.customer-info #zip { width: 105px; }
.customer-info.state
{
  float: left;
  width: 275px;
  margin-right: 15px;
}
.customer-info #state
{
  width: 165px;
  font-size: 18px;
}
.order .left-column textarea { 
  width: 440px;
  height: 100px; 
  font-size: 18px;
  padding: 3px;
  resize: none;
}

/* Order form crust formatting */
.pizza-info.crust label
{
  display: xsblock;
  font-size: 18px;
  width: 110px;
  height: 30px;
  text-align: left;
  padding: 5px;
}
#crust
{
  font-size: 18px;
  width: 330px;
  height: 30px;
  padding: 3px;
  font-size: 18px;
}

/* Order form size formatting */
.pizza-info.sizing {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 18px 130px;
  margin-left: 5px;;
}
.size-heading {
  width: 440px;
  height: 18px;
  margin-top: 8px;
  margin-left: 5px;
  grid-area: 1 / 1 / 1 / 5;
}
.size-heading p {
  font-size: 18px;
  line-height: 18px;
  padding: 0px;
  text-align: left;
}
.sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fad3a0;
  margin: 5px 7px;
  position: relative;
}
.pizza-info .small {
  height: 75px;
  width: 75px;
  font-size: 14px;
  margin-left: 2px;
}
.pizza-info .medium {
  height: 90px;
  width: 90px;
  font-size: 16px;
}
.pizza-info .large {
  height: 105px;
  width: 105px;
  font-size: 18px;
}
.pizza-info .family {
  height: 120px;
  width: 120px;
  font-size: 20px;
  margin-right: 2px;
}
#small, #medium, #large, #family {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  appearance: none;
}
#small {
  height: 75px;
  width: 75px;
}
#medium {
  height: 90px;
  width: 90px;
}
#large {
  height: 105px;
  width: 105px;
}
#family {
  height: 120px;
  width: 120px;
}
#small:checked, #medium:checked, #large:checked, #family:checked {
  border: 6px solid peru;
}

/* Order form toppings formatting */
.pizza-info.toppings {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: 18px 110px 110px;
}
.toppings-heading {
  width: 440px;
  height: 18px;
  margin-left: 5px;
  grid-area: 1 / 1 / 1 / 5;
}
.toppings-heading p {
  font-size: 18px;
  line-height: 18px;
  padding: 0px;
  text-align: left;
}
.topping {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 110px;
  width: 110px;
  padding: 5px;
  position: relative;
}
.topping img {
  margin-top: 6px;
  width: 88px;
  height: 88px;
}

.topping .tooltip {
  visibility: hidden;
  position: absolute;
  text-align: center;
  font-size: 12px;
  width: 90px;
  height: 25px;
  border-radius: 12px;
  background-color: #6c2f2b;
  color: #fbf0e2;
  padding: 5px 0;
  margin-left: -89px; 
  margin-top: 68px;
}
.topping:hover .tooltip { visibility: visible; }

#bacon, #sausage, #pepperoni, #peppers, #mushrooms, #anchovies, #onions, #cheese {
  position: absolute;
  appearance: none;
  border-radius: 16px;
  height: 100px;
  width: 100px;
}

#bacon, #sausage, #pepperoni, #anchovies, #peppers, #mushrooms, #onions, #cheese { 
  left: 5px; 
   top: 5px; 
  }

#bacon:checked, #sausage:checked, #pepperoni:checked, #peppers:checked, #mushrooms:checked, #anchovies:checked, #onions:checked, #cheese:checked {
  border: 6px solid #6fa26b; 
}

/* Form button formatting */
input.button {
  display: inline-block;
  height: 38px;
  width: 150px;
  margin: 5px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
  border-color: #6c2f2b;
  cursor: pointer;
}
input.button.submit {
  color: #fbf0e2;
  background-color: #6fa26b;
}
input.button.clear {
  color: #6c2f2b;
  background-color: #fad3a0;
}
.order .buttons-row {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.contact .buttons-row {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 326px; 
  width: 425px; 
  padding-top: 8px;
}
.contact input.button {
  width: 200px; 
  font-size: 20px; 
}