@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}
body {
  width: 1000px;
  margin: 0 auto;
}

/* Nav */
nav ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  padding-right: 15px;
  background-color: #6c2f2b;
}

/* Nav links */
nav a { 
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  padding: 10px 15px;
  color: #fbf0e2; 
  text-decoration: none;
}
nav a:visited { color: #fbf0e2; }
nav a:hover { color: #fad3a0; }
nav a.current {
  color: #659a63;
  background-color: #fbf0e2;
  pointer-events: none;
  cursor: default;
  font-weight: 600;
}

/* Restaurant name in nav */
nav p {
  height: 80px;
  text-align: left;
  color: #fad3a0;
  background-color: #6c2f2b;
  font-family: "Lemonada", sans-serif;
  font-size: 40px;
  padding-left: 20px;
  letter-spacing: -2px;
}

/* Main */
main {
  background-color: #fbf0e2;
  height: 665px;
  border: 2px solid #6c2f2b;
  border-top: none;
  position: relative;
}
main > div {
  font-size: 24px;
  color: #6c2f2b;
  padding: 20px 100px;
  text-align: justify;
}
h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #6c2f2b;
}
em {
  display: block;
  text-align: center;
  padding-top: 15px;
  letter-spacing: -1px;
}

/* Images */
.contact img {
  position: absolute;
  bottom: 110px;
  right: 100px;
  height: 275px;
  width: 178px;
}
.about img {
  position: absolute;
  bottom: 75px;
  right: 100px;
  height: 280px;
  width: 262px;
}
.index img {
  height: 200px;
  width: 200px;
  padding: 0px;
  margin: 0px;
}
.index img.reversed {
  transform: scaleX(-1);
}

/* Index page formatting */
.images {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 200px;
  padding: 0px;
  margin: 75px 175px;
}
.image, .order-now {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.image { width: 200px; }
.order-now { width: 250px; }
.order-now-cta {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #6fa26b;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 600;
  color: #fbf0e2;
  border: 5px dotted #6c2f2b;
}
.order-now-cta:visited {
  color: #fbf0e2;
}
.order-now-cta div {
  margin-top: 54px;
}



/* Contact form formatting */
.contact form div {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  width: 525px;
}
.contact label {
  display: inline-block;
  height: 38px;
  width: 200px;
  padding: 4px 0;
}
.contact input {
  display: inline-block;
  height: 38px;
  width: 325px;
  font-size: 18px;
}
.contact textarea {
  display: inline-block;
  font-size: 18px;
  width: 325px;
  height: 118px;
  padding-top: 5px;
  margin-bottom: 27px;
}

/* Order form formatting */
.order div {
  font-size: 18px;
  color: #6c2f2b;
}
.order p { 
  padding: 8px 0; 
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}
.order .two-columns {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 920px;
}
.order .left-column {
  width: 440px;
  margin-right: 20px;
}
.order .right-column {
  width: 440px;
  margin-left: 20px;
}
.two-columns > div > div {
  display: flex;
  width: 440px;
  padding: 2px 0;
}

/* Order form customer info formatting */
.customer-info label
{
  display: inline-block;
  font-size: 18px;
  width: 110px;
  height: 30px;
  text-align: left;
  padding: 5px;
}
.customer-info input
{
  font-size: 18px;
  width: 330px;
  height: 30px;
  padding: 3px;
}
.customer-info.zip { width: 150px; }
.customer-info #zip { width: 105px; }
.customer-info.state
{
  float: left;
  width: 275px;
  margin-right: 15px;
}
.customer-info #state
{
  width: 165px;
  font-size: 18px;
}
.order .left-column textarea { 
  width: 440px;
  height: 100px; 
  font-size: 18px;
  padding: 3px;
  resize: none;
}

/* Order form crust formatting */
.pizza-info.crust label
{
  display: xsblock;
  font-size: 18px;
  width: 110px;
  height: 30px;
  text-align: left;
  padding: 5px;
}
#crust
{
  font-size: 18px;
  width: 330px;
  height: 30px;
  padding: 3px;
  font-size: 18px;
}

/* Order form size formatting */
.pizza-info.sizing {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.size-heading {
  width: 440px;
  height: 18px;
  margin-top: 8px;
  margin-left: 5px;
}
.size-heading p {
  font-size: 18px;
  line-height: 18px;
  padding: 0px;
  text-align: left;
}
.sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fad3a0;
  margin: 5px 7px;
}
.pizza-info .small {
  height: 75px;
  width: 75px;
  font-size: 14px;
  margin-left: 2px;
}
.pizza-info .medium {
  height: 90px;
  width: 90px;
  font-size: 16px;
}
.pizza-info .large {
  height: 105px;
  width: 105px;
  font-size: 18px;
}
.pizza-info .family {
  height: 120px;
  width: 120px;
  font-size: 20px;
  margin-right: 2px;
}
#small, #medium, #large, #family {
  position: absolute;
  border-radius: 50%;
  appearance: none;
}
#small {
  top: 234px;
  left: 523px;
  height: 75px;
  width: 75px;
}
#medium {
  top: 226px;
  left: 611px;
  height: 90px;
  width: 90px;
}
#large {
  top: 218px;
  left: 715px;
  height: 105px;
  width: 105px;
}
#family {
  top: 211px;
  left: 833px;
  height: 120px;
  width: 120px;
}
#small:checked, #medium:checked, #large:checked, #family:checked {
  border: 6px solid peru;
}

/* Order form toppings formatting */
.pizza-info.toppings {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.toppings-heading {
  width: 440px;
  height: 18px;
  margin-left: 5px;
}
.toppings-heading p {
  font-size: 18px;
  line-height: 18px;
  padding: 0px;
  text-align: left;
}
.topping {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  margin: 5px;
}
.topping img {
  margin-top: 6px;
  width: 88px;
  height: 88px;
}

.topping .tooltip {
  visibility: hidden;
  position: absolute;
  text-align: center;
  font-size: 12px;
  width: 90px;
  height: 25px;
  border-radius: 12px;
  background-color: #6c2f2b;
  color: #fbf0e2;
  padding: 5px 0;
  margin-left: -89px;
  margin-top: 69px;
}
.topping:hover .tooltip { visibility: visible; }

#bacon, #sausage, #pepperoni, #peppers, #mushrooms, #anchovies, #onions, #cheese {
  position: absolute;
  appearance: none;
  border-radius: 16px;
  height: 100px;
  width: 100px;
}

#bacon, #sausage, #pepperoni, #anchovies { top: 363px; }
#peppers, #mushrooms, #onions, #cheese { top: 473px; }
#bacon, #peppers { left: 523px; }
#sausage, #mushrooms { left: 633px; }
#pepperoni, #onions { left: 743px; }
#anchovies, #cheese { left: 853px; }

#bacon:checked, #sausage:checked, #pepperoni:checked, #peppers:checked, #mushrooms:checked, #anchovies:checked, #onions:checked, #cheese:checked {
  border: 6px solid #6fa26b; 
}

/* Form button formatting */
input.button {
  display: inline-block;
  height: 38px;
  width: 150px;
  margin: 5px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 24px;
  border-color: #6c2f2b;
}
input.button.submit {
  color: #fbf0e2;
  background-color: #6fa26b;
}
input.button.clear {
  color: #6c2f2b;
  background-color: #fad3a0;
}
.order .buttons-row {
  width: 1000px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.contact input.button {
  width: 240px;
}