* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
  font-size: 30px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(white 0%, #1094ea 50%, #075bd1 100%);
}

#image {
  background-image: url("../img/lotto-bg.png");
  height: 655px;
  width: 940px;
  border-radius: 200px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-div {
  height: 50px;
  width: 400px;
  text-align: center;
  padding: 5px;
}

#banner {
  text-decoration: underline;
}

#numbers {
  letter-spacing: 1px;
}

#button {
  visibility: hidden;
  height: 40px;
  padding: 3px;
  width: 170px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 0 4px #1094ea;
  font-size: 18px;
  cursor: pointer;
}
#button.show {
  visibility: visible;
}

