@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Mono';
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0px auto;
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: 495px auto;
  grid-template-rows: repeat(4, max-content);
  gap: 20px;
  background-color: #e4d4bd;
}

header {
  grid-column-start: span 2;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

#words, #output, details {
  border: 1px solid #cdbeaa;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #b6a997;
  background-color: #ece0d0;
}

#words div {
  height: 30px;
  margin: 4px 8px;
}

#words label {
  display: inline-block;
  width: 250px;
  height: 100%;
  text-align: end;
  padding: 0 10px;
}

#words input {
  width: 225px;
  height: 100%;
  font-family: 'Coming Soon';
  font-size: 18px;
  padding-left: 4px;
  padding-top: 3px;
  border-radius: 5px;
  border: 1px solid #cdbeaa;
  box-shadow: 1px 1px 1px #b6a997;
}

#words button {
  background-color: #cdbeaa;
  padding: 5px;
  border-radius: 7px;
  width: 175px;
  margin: 20px auto;
  border: none;
  display: block;
  cursor: pointer;
  box-shadow: 3px 3px 3px #887f71;
}

#words button.no-click { visibility: hidden; }

#theme-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: fit-content;
  font-size: 20px;
  margin: 10px auto 20px auto;
  height: 30px;
  border-bottom: 1px solid black;
}

#theme-label {
  width: 75px;
  font-size: 20px;
}

#secret {
  width: 250px;
  font-family: 'Redacted Script';
  font-size: 25px;
  text-align: end;
  position: relative;
  bottom: 8px;
}
#secret.shown {
  font-family: 'Fira Mono';
  font-size: 20px;
  bottom: 0;
}

#background {
  grid-area: 2 / 2;
  border-radius: 10px;
}
#background.camping {
  background-color: #b3dfe7;
  background-image: url('../img/camping.webp');
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#background.hospital { /* TODO */
  background-color: #fee7b1;
  background-image: url('../img/hospital.png');
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#background.forest { /* TODO */
  background-color: white;
  background-image: url('../img/forest.jpg');
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#output {
  grid-area: 2 / 2;
  font-size: 19px;
  padding: 5px 40px;
  line-height: 1.75;
  transition: background-color 2s;
}

#output.transparent {
  background-color: transparent;
}

#story-text { line-height: 1.5;}

#story .entry {
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0;
  height: 19px;
  font-family: 'Coming Soon';
  font-size: 18px;
  vertical-align: center;
}

#story .entry.revealed {
  padding-left: 20px;
  padding-right: 20px;
  
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 18px;
  background-color: black;
  position: relative;
  top: 3px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  45% {opacity: 1;}
  55% {opacity: 0;}
  100% {opacity: 0;}
}

details {
  grid-column-start: span 2;
  padding: 5px;
}

details summary { cursor: pointer; }
details ul { padding: 10px 30px; }
details ul li { margin-bottom: 10px; }
