@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Mono';
  font-weight: 400;
  font-size: 16px;
  user-select: none;
}

body {
  margin: 0px auto;
  padding: 20px 50px 50px 50px;
  display: grid;
  grid-template-columns: 495px auto;
  grid-template-rows: repeat(3, max-content);
  gap: 20px;
  background-color: #e4d4bd;
}

header { grid-area: 1 / 1 / 1 / 3; }

h1 {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

aside {
  padding: 100px;
  text-align: center;
  font-size: 20px;
}

nav {
  padding: 50px;
  padding-top: 0;
  margin-bottom: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .story-option {
  height: 150px;
  width: 200px;
  padding: 0 10px 10px 10px;
  border: 1px solid black;
  font-family: 'Redacted Script';
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

aside, nav { transition: height 1s, width 1s, padding 1s, margin 1s; }

.story-option, #words, #output, details {
  border: 1px solid #cdbeaa;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #b6a997;
  background-color: #ece0d0;
}

.hidden { visibility: hidden; }
.collapsed {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

#words div {
  height: 30px;
  margin: 4px 8px;
}

#words label {
  display: inline-block;
  width: 250px;
  height: 100%;
  text-align: end;
  padding: 0 10px;
}

#words input {
  width: 225px;
  height: 100%;
  font-family: 'Coming Soon';
  font-size: 18px;
  padding-left: 4px;
  padding-top: 3px;
  border-radius: 5px;
  border: 1px solid #cdbeaa;
  box-shadow: 1px 1px 1px #b6a997;
}

::placeholder {
  font-family: 'Fira Mono';
  font-size: 10px;
  color: transparent;
}

button {
  background-color: #cdbeaa;
  padding: 5px;
  border-radius: 7px;
  width: 175px;
  margin: 20px auto;
  border: none;
  display: block;
  cursor: pointer;
  box-shadow: 3px 3px 3px #887f71;
}

#theme-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 10px auto 30px auto;
  height: 30px;
  border-bottom: 1px solid black;
}

#theme-label {
  width: 75px;
  font-size: 20px;
}

#secret {
  width: 250px;
  font-family: 'Redacted Script';
  font-size: 25px;
  text-align: end;
  position: relative;
  bottom: 8px;
}
#secret.shown {
  font-family: 'Fira Mono';
  font-size: 20px;
  bottom: 0;
}

#background {
  grid-area: 2 / 2;
  border-radius: 10px;
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#background.camping {
  background-color: #b3dfe7;
  background-image: url('../img/camping.png');
}
#background.hospital { 
  background-color: #fee7b1;
  background-image: url('../img/hospital.png');
}
#background.forest { 
  background-color: white;
  background-image: url('../img/forest.jpg');
}

#output {
  grid-area: 2 / 2;
  padding: 5px 40px;
  line-height: 1.75;
  transition: background-color 2s;
} 
#output.transparent { background-color: transparent; }

#story-text { line-height: 1.5; }

#story .entry {
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 0;
  height: 19px;
  font-family: 'Coming Soon';
  font-size: 18px;
  vertical-align: center;
}

#story .entry.revealed {
  padding-left: 20px;
  padding-right: 20px; 
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 18px;
  background-color: black;
  position: relative;
  top: 3px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  45% {opacity: 1;}
  55% {opacity: 0;}
  100% {opacity: 0;}
}

#play-again { margin-top: 30px; }
#redo { transition: opacity 1s; }

details {
  grid-area: 3 / 1 / 3 / 3;
  padding: 5px;
}

details summary { cursor: pointer; }
details ul { padding: 10px 30px; }
details ul li { margin-bottom: 10px; }

@media (max-width: 1199px) {
  * { font-size: 14px; }
  body { 
    grid-template-columns: 445px auto; 
    padding: 20px 20px 50px 20px; 
  }
  #words label { width: 225px; }
  #words input { 
    font-size: 16px; 
    width: 200px; 
  }
  #output { padding: 5px 30px; }
  #theme-container { height: 24px; }
  #theme-label { 
    font-size: 16px; 
    width: 55px; 
  }
  #secret { 
    font-size: 20px; 
    width: 220px; 
    bottom: 6px; 
  }
  #secret.shown { font-size: 16px; }
  #story .entry { 
    height: 17px; 
    font-size: 16px; 
  }
  .input-cursor { height: 16px; }
}

@media (max-width: 899px) {
  * { font-size: 12px; }
  body { 
    padding: 20px; 
    grid-template-columns: 360px auto; 
  }
  h1 { font-size: 35px; }
  aside { font-size: 16px; }
  nav .story-option { 
    height: 90px; 
    width: 140px; 
    font-size: 20px; 
  }
  #words div { height: 27px; }
  #words label { width: 190px; }
  #words input { 
    font-size: 14px; 
    width: 150px; 
  }
  #output { padding: 5px 20px; }
  #theme-container { height: 20px; }
  #theme-label { 
    font-size: 13px; 
    width: 40px; 
  }
  #secret { 
    font-size: 16px; 
    width: 190px; 
    bottom: 5px; 
  }
  #secret.shown { font-size: 13px; }
  #story .entry { 
    height: 14px; 
    font-size: 14px; 
  }
  #story .entry.revealed { 
    padding-left: 15px; 
    padding-right: 15px; 
  }
  .input-cursor { height: 14px; }
  button { width: 150px; }
}

@media (max-width: 699px) {
  body { 
    padding: 5px; 
    grid-template-columns: 167px auto; 
    gap: 7px; }
  h1 { font-size: 25px; }
  aside { 
    font-size: 14px; 
    padding: 30px; 
  }
  nav .story-option { margin: 10px 0; }
  nav { flex-direction: column; }
  #words div { height: 24px; }
  #words label { display: none; }
  ::placeholder { color: grey; }
  #output { padding: 5px 15px; }
  #secret { bottom: 3px; }
  #story .entry.revealed { 
    padding-left: 10px; 
    padding-right: 10px; 
  }
  button { 
    width: 125px; 
    margin: 15px auto;
  }
}

@media (max-width: 499px) {
  * { font-size: 10px; }
  body { 
    padding: 15px; 
    width: max-content; 
    grid-template-columns: 330px; 
    grid-template-rows: repeat(4, max-content); 
  }
  header { grid-area: 1 / 1; }
  #background { 
    grid-area: 4 / 1; 
    height: 550px; 
  }
  #output { 
    grid-area: 4 / 1; 
    height: 550px; 
  }
  details { grid-area: 3 / 1; }
  #words label { 
    display: inline-block; 
    width: 170px; 
  }
  #words input { 
    font-size: 12px; 
    width: 140px; 
    height: 22px; 
  }
  ::placeholder { color: transparent; }
  #story .text { font-size: 12px; }
  details ul { padding-bottom: 0; }
}